:root {
  --body-background: #fff;
  --form-background: #fff;
  --dialog-background: #fff;
  --border-color: #d9d9d9;
  --alert-color: #ff0e0e;
  --success-color: #60a917;
  --warning-color: #ff9f31;
  --info-color: #428aff;
  --text-color: #000;
  --text-color-light: #fff;
  --border-radius: 10px;
  --code-color: #22272e;
}
.fg-system {
  color: var(--text-color) !important;
}
.bd-system {
  border-color: var(--border-color) !important;
}
body {
  padding-top: 72px;
}
.hero {
  padding: 0;
}
.aptos-logo {
  height: 1.2rem;
  line-height: 1;
}
.aptos-logo img {
  height: 100%;
}
header {
  position: fixed!important;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}
header nav {
  position: relative;
}
#app-title {
  position: relative;
}
@media screen and (min-width: 920px) {
  #app-title {
    position: fixed;
    z-index: 1000;
    top: 20px;
    left: 50%;
    margin-left: -160px;
  }
}
.scrollable-container {
  overflow-x: auto;
}
.scrollable-container .scrollable-table {
  width: auto!important;
  min-width: 100%;
}
.scrollable-container .scrollable-table td:not(.vm-status) {
  white-space: nowrap!important;
}
.link {
  color: #3f3f3f;
  text-decoration: none;
}
.link:hover {
  color: #000000;
}
.light-mode-switch,
.dark-mode-switch {
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
}
.light-mode-switch {
  display: none;
}
.dark-mode-switch {
  display: inline-block;
}
.app-header {
  background: var(--body-background);
}
.app-header .app-bar {
  background: inherit;
  color: var(--text-color);
}
.cube-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.cube-wrapper {
  width: 100%;
  transform: scale(0.8);
  display: flex;
  flex-flow: column;
  align-items: center;
}
.cube {
  margin: 0;
}
@media screen and (min-width: 600px) {
  .cube-wrapper {
    width: 550px;
    transform: scale(1);
  }
}
.ledger-version,
.chain-id,
.epoch-number,
.timestamp {
  color: var(--text-color-accent);
  z-index: 1;
}
.ledger-version,
.timestamp {
  text-align: center;
}
.chain-id {
  text-align: center;
  position: absolute;
  left: 366px;
  top: 118px;
}
.epoch-number {
  text-align: center;
  position: absolute;
  top: 118px;
  right: 366px;
}
@media screen and (min-width: 600px) {
  .chain-id {
    left: 445px;
  }
  .epoch-number {
    right: 445px;
  }
}
#ledger-version,
#chain-id,
#timestamp,
#epoch-number {
  font-size: 24px;
  margin-top: -8px;
}
.trans-data-container {
  border: none;
}
#catchup-status {
  position: absolute;
  top: 10px;
  right: 10px;
}
@media screen and (min-width: 740px) {
  .trans-data-container {
    border: 1px solid var(--border-color);
  }
}
.table td,
.table th,
.table tr {
  border-color: var(--border-color) !important;
}
html.dark-mode {
  --body-background: #1e2228;
  --form-background: #fff;
  --dialog-background: #fff;
  --border-color: #444c56;
  --panel-color: #22272e;
  --panel-color-secondary: #1b2125;
  --alert-color: #ff0e0e;
  --success-color: #60a917;
  --warning-color: #ff9f31;
  --info-color: #428aff;
  --text-color: #adbaa9;
  --text-color-accent: #fff;
  --border-radius: 10px;
  --code-color: #adbaa9;
}
html.dark-mode .fg-system {
  color: var(--text-color) !important;
}
html.dark-mode .bd-system {
  border-color: var(--border-color);
}
html.dark-mode body {
  background: var(--body-background);
  color: var(--color-text);
}
html.dark-mode .light-mode-switch {
  display: inline-block;
}
html.dark-mode .dark-mode-switch {
  display: none;
}
html.dark-mode .app-header {
  background: var(--body-background);
}
html.dark-mode .app-header .app-bar {
  background: inherit;
  color: var(--text-color-accent);
}
#logo-wrapper {
  position: absolute;
  bottom: -100px;
  right: -150px;
  width: 300px;
  height: 300px;
  transform: scale(0.4);
  display: none;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  flex: 1 1 320px;
  min-height: 320px;
}
.logo-container {
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  flex-shrink: 0;
  flex-grow: 0;
}
.logo {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: white;
  border: 1px solid #000;
  overflow: hidden;
  transform: scale(0.7);
}
.line {
  height: calc(100% / 7 - 4px);
  position: relative;
  overflow: visible;
}
.line:nth-child(1) {
  height: calc(100% / 7 + 20px);
}
.line:nth-child(odd) {
  background: #fff;
}
.line:nth-child(even) {
  background: #000;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid black;
  position: absolute;
  top: -14px;
  z-index: 1;
  transform: translateX(-300px);
  animation: slide 2s infinite;
}
.line:nth-child(odd) .triangle {
  border-bottom-color: #fff;
}
.line:nth-child(2) .triangle {
  left: 225px;
  animation-delay: 0.5s;
}
.line:nth-child(3) .triangle {
  left: 190px;
  animation-delay: 0.6s;
}
.line:nth-child(4) .triangle {
  left: 155px;
  animation-delay: 0.7s;
}
.line:nth-child(5) .triangle {
  left: 120px;
  animation-delay: 0.8s;
}
.line:nth-child(6) .triangle {
  left: 85px;
  animation-delay: 0.9s;
}
.line:nth-child(7) .triangle {
  left: 50px;
  animation-delay: 1s;
}
@keyframes slide {
  30% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
    animation-delay: 1s;
  }
}
.text {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateText 10s linear infinite;
}
.text span {
  position: absolute;
  left: 50%;
  font-size: 1.4em;
  transform-origin: 0 150px;
  font-weight: bold;
}
@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.dark-mode body,
.dark-mode .dark-side,
.dark-mode.dark-side {
  background: #1e2228;
}
.dark-mode .text {
  color: #adbaa9;
}
.dark-mode .logo {
  border-color: #1e2228;
}
/*# sourceMappingURL=index.css.map */