:root {
  --body-background: #fff;

  --form-background: #fff;
  --dialog-background: #fff;
  --border-color: #d9d9d9;

  --alert-color: #ff0e0e;
  --success-color: #60a917;
  --warning-color: #ff9f31;
  --info-color: #428aff;

  --text-color: #000;
  --text-color-light: #fff;

  --border-radius: 10px;

  --code-color: #22272e;
}

@import "dark";