:root {
  --body-background: #fff;
  --form-background: #fff;
  --dialog-background: #fff;
  --border-color: #d9d9d9;
  --alert-color: #ff0e0e;
  --success-color: #60a917;
  --warning-color: #ff9f31;
  --info-color: #428aff;
  --text-color: #000;
  --text-color-light: #fff;
  --border-radius: 10px;
  --code-color: #22272e;
}
.fg-system {
  color: var(--text-color) !important;
}
.bd-system {
  border-color: #df6e68 !important;
}
body {
  padding-top: 72px;
}
.hero {
  padding: 0;
}
.aptos-logo {
  height: 1.2rem;
  line-height: 1;
}
.aptos-logo img {
  height: 100%;
}
header {
  position: fixed!important;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}
header nav {
  position: relative;
}
#app-title {
  position: relative;
}
@media screen and (min-width: 920px) {
  #app-title {
    position: fixed;
    z-index: 1000;
    top: 20px;
    left: 50%;
    margin-left: -160px;
  }
}
.scrollable-container {
  overflow-x: auto;
}
.scrollable-container .scrollable-table {
  width: auto!important;
  min-width: 100%;
}
.scrollable-container .scrollable-table td:not(.vm-status) {
  white-space: nowrap!important;
}
.link {
  color: #3f3f3f;
  text-decoration: none;
}
.link:hover {
  color: #000000;
}
.light-mode-switch,
.dark-mode-switch {
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
}
.light-mode-switch {
  display: none;
}
.dark-mode-switch {
  display: inline-block;
}
.app-header {
  background: var(--body-background);
}
.app-header .app-bar {
  background: inherit;
  color: var(--text-color);
}
.cube-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.cube-wrapper {
  width: 100%;
  transform: scale(0.8);
  display: flex;
  flex-flow: column;
  align-items: center;
}
.cube {
  margin: 0;
}
@media screen and (min-width: 600px) {
  .cube-wrapper {
    width: 550px;
    transform: scale(1);
  }
}
.ledger-version,
.chain-id,
.epoch-number,
.timestamp {
  color: var(--alert-color);
  z-index: 1;
}
.ledger-version,
.timestamp {
  text-align: center;
}
.chain-id {
  text-align: center;
  position: absolute;
  left: 366px;
  top: 118px;
}
.epoch-number {
  text-align: center;
  position: absolute;
  top: 118px;
  right: 366px;
}
@media screen and (min-width: 600px) {
  .chain-id {
    left: 445px;
  }
  .epoch-number {
    right: 445px;
  }
}
#ledger-version,
#chain-id,
#timestamp,
#epoch-number {
  font-size: 24px;
  margin-top: -8px;
}
.trans-data-container {
  border: none;
}
@media screen and (min-width: 740px) {
  .trans-data-container {
    border: 1px solid #df6e68;
  }
}
html.dark-mode {
  --body-background: #1e2228;
  --form-background: #fff;
  --dialog-background: #fff;
  --border-color: #444c56;
  --panel-color: #22272e;
  --panel-color-secondary: #1b2125;
  --alert-color: #ff0e0e;
  --success-color: #60a917;
  --warning-color: #ff9f31;
  --info-color: #428aff;
  --text-color: #adbaa9;
  --text-color-accent: #fff;
  --border-radius: 10px;
  --code-color: #adbaa9;
}
html.dark-mode .fg-system {
  color: var(--text-color) !important;
}
html.dark-mode .bd-system {
  border-color: var(--border-color);
}
html.dark-mode body {
  background: var(--body-background);
  color: var(--color-text);
}
html.dark-mode .light-mode-switch {
  display: inline-block;
}
html.dark-mode .dark-mode-switch {
  display: none;
}
html.dark-mode .app-header {
  background: var(--body-background);
}
html.dark-mode .app-header .app-bar {
  background: inherit;
  color: var(--text-color-accent);
}
html.dark-mode #app-title,
html.dark-mode .box-value,
html.dark-mode #current-time,
html.dark-mode .aptos-subtitle {
  color: var(--alert-color) !important;
}
/*# sourceMappingURL=index.css.map */