div.container-fluid
    div.container
        div.row
            div.cell-md-8.trans-data-container
                text-leader.m-1.fg-white FullNode
                div.cube-container.mt-2.p-4
                    div.cube-wrapper
                        div.ledger-version.border.bd-darkRed.pt-1.pb-0.pl-3.pr-3.mb-5(style="top: 20px;")
                            div.reduce-4.text-muted LEDGER VERSION
                            div#ledger-version 0

                        div( data-role="cube" data-cells="10" data-margin="2" data-custom="customCube" data-show-axis="true" data-axis-style="arrow" data-cls-axis="bg-darkRed")

                        div.timestamp.mt-8.border.bd-darkRed.pt-1.pb-0.pl-3.pr-3
                            div.reduce-4.text-muted TIMESTAMP
                            div#timestamp 0

                        div.chain-id.border.bd-darkRed.pt-1.pb-0.pl-3.pr-3
                            div.reduce-4.text-muted CHAIN
                            div#chain-id 0

                        div.epoch-number.border.bd-darkRed.pt-1.pb-0.pl-3.pr-3
                            div.reduce-4.text-muted EPOCH
                            div#epoch-number 0

                    div.tps-wrapper.w-100.p-4.border-top.bd-system.mt-6
                        div.row
                            div.cell-md-6
                                div.row
                                    div.cell-md-6
                                        div.fg-system.mb-0 User TPS
                                        div.fg-white.h2.m-0#user-tps 0
                                    div.cell-md-6
                                        div.fg-system.mb-0 Round TPS
                                        div.fg-white.h2.m-0#round-tps 0

                            div.cell-md-6
                                div#rounds-per-epoch
                                div.text-center
                                    div.text-muted.text-small ROUNDS PER EPOCH


            div.cell-md-4.trans-data-container
                text-leader.m-1.fg-white Indexer
                div.fg-cyan#catchup-status(title="The Indexer synchronization is going now...")
                    span.mif-arrow-up.ani-flash

                div.p-4.mr-2.h-100

                    div.row
                        div.cell-8
                            div.text-leader2.fg-system.mb-0 Transactions
                            div
                                div.fg-white.text-leader#total-transactions 0
                        div.cell-4
                            div.text-leader2.fg-system.mb-0 Round
                            div
                                div.fg-white.text-leader#current-round 0

                    div.row.mt-4
                        div.cell-6
                            div
                                div.text-muted.reduce-2 Success:
                                div.fg-green.text-leader#success-transactions 0
                            div
                                div.text-muted.reduce-2 Failed:
                                div.fg-red.text-leader#failed-transactions 0
                            div
                                div.text-muted.reduce-2 Unknown:
                                div.fg-gray.text-leader#unknonw-transactions 0
                        div.cell-6
                            div#trans-graph-total
                                div.d-flex.flex-justify-center.flex-justify-center
                                    div(data-role="activity" data-type="atom" data-style="color")

                    div.row.mt-5
                        div.cell-6
                            div
                                div.text-muted.reduce-2 Genesis:
                                div.fg-green.text-leader#genesis-transactions 0
                            div
                                div.text-muted.reduce-2 Block Metadata:
                                div.fg-orange.text-leader#metadata-transactions 0
                            div
                                div.text-muted.reduce-2 User transactions:
                                div.fg-cyan.text-leader#user-transactions 0
                            div
                                div.text-muted.reduce-2 State Checkpoint:
                                div.fg-yellow.text-leader#state-transactions 0
                        div.cell-6.pt-8
                            div#trans-graph-detail
                                div.d-flex.flex-justify-center.flex-justify-center
                                    div(data-role="activity" data-type="atom" data-style="color")

                    div.border-top.bd-lightRed.pt-4(style="margin-top: 10px")
                        div.text-leader2.fg-system.mb-0 Average Gas Usage
                        div.row
                            div.cell-3
                                span.mif-gas-station.mif-6x.text-muted
                            div.cell-3
                                div.text-muted.reduce-2.mt-2 MIN
                                div.text-leader.fg-red#gas_min 0
                                div.text-muted.reduce-4#gas_min_range 0...0
                            div.cell-3
                                div.text-muted.reduce-2.mt-2 MAX
                                div.text-leader.fg-red#gas_max 0
                                div.text-muted.reduce-4#gas_max_range 0...0
                            div.cell-3
                                div.text-muted.reduce-2.mt-2 AVG
                                div.text-leader.fg-red#gas_avg 0
                                div.text-muted.reduce-4#gas_avg_range 0...0

        div.border-top1.bd-system.pt-6.mt-6
            include trans

script.
    function customCube(element) {
        const sides = ['top', 'left', 'right'];

        function toggle(cell, func, timeout) {
            const side = cell.data("side");
            const id = cell.data("id");
            const array = Array(window["a_" + side]);
            setTimeout(function () {
                if (func === 'on') {
                    cell.addClass("light");
                    array.push(id);
                } else {
                    cell.removeClass("light");
                    array.splice(array.indexOf(id), 1);
                }
            }, timeout)
        }

        let t = 1
        $.each(sides, function () {
            for (let i = 1; i <= 10; i++) {
                const array = Array(window["a_" + this])
                let id, timeout = $.random(100, 500), cell

                do {
                    id = $.random(1, 100)
                } while (array.indexOf(id) > -1)

                cell = $(element).find("." + this + "-side .cell-id-" + id)

                toggle(cell, 'on', 100 * t)
                toggle(cell, 'off', 200 * t)
                t++
            }
        })

        setTimeout(customCube, 1000, element)
    }
