footer.container-fluid.mt-6
    div.container.border-top.bd-system.pt-4.pb-4
        div.text-center.text-small
            span.fg-system Copyright 2022 by
            a.ml-1.mr-1.fg-white.no-decor.text-bold(href="https://pimenov.com.ua")
                span Serhii Pimenov.
            div.fg-system
                span With love from
                span.ml-1.mr-1
                    span.fg-cyan UKR
                    span.fg-yellow AINE
                span to all Aptos Community!