section.app-header.container-fluid.pos-fixed(style="top: 0; left: 0; right: 0; z-index: 1000")
    header.container.pos-relative(data-role="app-bar" data-expand-point="fs")
        a.brand.no-hover.d-flex.flex-align-center.flex-justify-start(href="/")
            div(style="transform: scale(.2); width: 52px; left: -42px; ")
                aptos-logo(data-theme="dark")


            div.enlarge-2(style="padding-top: 2px;")
                span.aptos-subtitle APTOS
                span.mr-2.ml-2.reduce-1 |
                span.aptos-subtitle STATUS
                span.ml-1.text-small.text-muted v#{appVersion}


        div.app-bar-item.ml-auto.no-hover
            span.fg-white#current-time
            span.ml-2.mt-2.d-none
                span.light-mode-switch.mif-sun
                span.dark-mode-switch.mif-moon


section.container-fluid
    div.container
        div.text-leader.text-center.pb-4.mt-3-minus#app-title
            div.text-bold.fg-white Welcome to Aptos Status Monitor
            div.reduce-4
                span.fg-white.ml-1#tracked-node ...
