div.container
    div.row
        div.cell-lg-3.cell-md-6
            div
                div.text-bold.text-center.fg-system
                    span All Trans / Minute
                    span.ml-2.text-small.text-muted (for last hour)

                div#gauge-transactions-per-minute-all

                div.min-max.text-small.text-center.fg-system
                    span Min:
                    span.ml-2.min-value.value 0
                    span.ml-2 Max:
                    span.ml-2.max-value.value 0

        div.cell-lg-3.cell-md-6
            div
                div.text-bold.text-center.fg-system
                    span User Trans / Minute
                    span.ml-2.text-small.text-muted (for last hour)

                div#gauge-transactions-per-minute-user

                div.min-max.text-small.text-center.fg-system
                    span Min:
                    span.ml-2.min-value.value 0
                    span.ml-2 Max:
                    span.ml-2.max-value.value 0


        div.cell-lg-3.cell-md-6
            div
                div.text-bold.text-center.fg-system
                    span Meta Trans / Minute
                    span.ml-2.text-small.text-muted (for last hour)

                div#gauge-transactions-per-minute-meta

                div.min-max.text-small.text-center.fg-system
                    span Min:
                    span.ml-2.min-value.value 0
                    span.ml-2 Max:
                    span.ml-2.max-value.value 0

        div.cell-lg-3.cell-md-6
            div
                div.text-bold.text-center.fg-system
                    span Check State / Minute
                    span.ml-2.text-small.text-muted (for last hour)

                div#gauge-transactions-per-minute-check

                div.min-max.text-small.text-center.fg-system
                    span Min:
                    span.ml-2.min-value.value 0
                    span.ml-2 Max:
                    span.ml-2.max-value.value 0
